.eighth_screen__wrapper{
    width: 100%;
    background: linear-gradient(to right, #211b19, #4e3427);
}
.eighth_screen__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6%;
}
.eighth_screen__option{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}
.eighth_screen__option-svg{
    height: 100%;
    max-height: 44px;
    padding-bottom: 14%;
}
.eighth_screen__option__h2{
    padding-bottom: 4%;
    font-size: 48px;
    font-family: "Montserrat";
    font-weight: 300;
    color: #fff;
    
}
.eighth_screen__option__p{
    padding-bottom: 14%;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #c7b299;
}
.eighth_screen__option__line{
    width: 100%;
    max-width: 30px;
    height: 2px;
    background-color: #fff;
}


/*mobile*/
@media (max-width: 1023px) {
    .eighth_screen__inner{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .eighth_screen__option{
        padding: 10px 0;
    }
  }
