.fifth__screen__wrapper{
    width: 100%;
}
.fifth__screen__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.fifth__screen__inner__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    width: 67%;
}
.fifth__screen__h1{
    font-size: 36px;
    font-family: "Raleway";
    font-weight: 500;
    color: rgb(85, 85, 85);
    line-height: 1.2;
}
.fifth__screen__p{
    font-size: 16px;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: center;
    color: #555;
}
.fifth__screen__inner__buttons{
    display: flex;
    justify-content: space-between;
    padding: 3% 0 4%;
}

.fifth__screen__button-off{
    border-style: solid;
    border-width: 1px;    
    border-radius: 3px;
    border-color: #ebebeb;
    min-width: 70px;
    margin: 5px;
    padding: 5px 20px;
    font-size: 14px;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: center;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: #555;

    transition: color 0.3s linear;
}
.fifth__screen__button-off:active{
    border-width: 1px;
    border-radius: 3px;
    background-color: #998675;    
    min-width: 70px;
    margin: 5px;
    padding: 5px 20px; 
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    text-align: center;
    color: #fff;
}
.fifth__screen__inner__infoBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fifth__screen__infoSection{
    position: relative;
    max-width: 370px;
    max-height: 340px;
    margin: 10px 10px 10px;
}
.infoBlock-img{
    display: block;
}
.infoSection-pointer{
    bottom: 77px;
    left: 20px;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  
    border-bottom: 20px solid #fbfaf8;
}
.infoSection__text{
    width: auto;
    background-color: #fbfaf8;
    padding: 20px 0 15px 20px;
    
}
.infoSection__text-h1{
    text-align: start;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #c7b299;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 4px;
}
.infoSection__text-h2{
    text-align: start;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #d1d1d1;
    line-height: 1.2;
}

/*infotext_hover*/
.infoSection-pointer_hover{
    bottom: 77px;
    left: 20px;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  
    border-bottom: 20px solid #362f2d;
}
.infoSection__text_hover{
    width: auto;
    background-color: #362f2d;
    padding: 20px 0 15px 20px;
    
}
.infoSection__text-h1_hover{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 4px;
}
.infoSection__text-h2_hover{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #c7b299;
    line-height: 1.2;
}

.infoSection__hover-icons{
    position: absolute;
    bottom: 53%;
    left: 37%;
    z-index: 5;
}
.infoSection__svg{
    padding: 0 10px;
    height: 25px;
}

/*button load*/
.fifth__screen__button-load{
    margin: 5% 0 6%;
}
.first_screen__inner__info-button{
    padding: 17px 35px;
    font-size: 14px;
    font-family: "Raleway";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.643;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    background-color: #998675;
    box-shadow: 0 -3px #736357 inset;
    color: #ffffff;  
}
.first_screen__inner__info-button:hover{
    background-color: #736357;
    box-shadow: 0 -3px #5e4f43 inset;
}



@media (max-width: 1023px) {
    .fifth__screen__inner__buttons{
        flex-wrap: wrap;
    }
  }