.first_screen__wrapper{
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;  
    background-size: cover;
}
.first_screen__inner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.first_screen__inner__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35vh;   
}
.first_screen__inner__info__h1{
    margin: 0;
    padding-bottom: 2vh;
    font-size: 52px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
}
.first_screen__inner__info__h2{
    font-size: 36px;
    font-family: "Raleway";
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}
.first_screen__inner__info-button{
    margin-top: 50px;
    width: 130px;
    padding: 15px;
    font-size: 14px;
    font-family: "Raleway";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.643;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    background-color: #998675;
    box-shadow: 0 -3px #736357 inset;    
    color: #ffffff;   
}
.first_screen__inner__info-button:hover{
    background-color: #736357;
    box-shadow: 0 -3px #5e4f43 inset;
}


/*mobile*/

@media (max-width: 1023px) {
    .first_screen__wrapper{
        height: 130vh;
    }
    .first_screen__inner__info__h1{
        text-align: center;
    }
    .first_screen__inner__info__h2{
        text-align: center;
    }
  }