.footer__wrapper1 {
    widows: 100%;
    background-color: #191919;
}

.footer__inner1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 6%;
    padding-bottom: 6%;
}
.footer__inner1__contant{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-width: 270px;
}
.footer__inner1__contant__p{
    font-size: 14px;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: left;
    color: #555555;
    padding-top: 10%;
    padding-bottom: 7%;
}
.inner1__contant__graytext-p{
    font-size: 14px;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: left;
    color: #555;
    padding-bottom: 7%;
}
.inner1__contant__browntext-p{
    font-size: 14px;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: left;
    color: #c7b299;
    padding-bottom: 7%;
}
.inner1__contant__dark-p{
    font-size: 12px;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: left;
    color: #363636;
    padding-top: 10%;
}
.inner1__contant__white-p{
    font-size: 12px;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: left;
    color: #fff;
    padding-top: 10%;
    padding-bottom: 2%;
}
.footer__blue-p{
    color: #00bff3;
}
.readmo__a{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
    color: #fff;
}
.readmo__arrow__right{
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid #fff;
    margin-top: -3px;
    margin-left: 10px;
  }
.inner1__contant__h2{
    font-size: 24px;
    font-family: "Raleway";
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.inner__contant__line{
    width: 100%;
    height: 2px;
    background-color: #252525;
}
.footer__inner1__contant__img{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10%;
}
.footer__contant__img{
    padding-right: 4%;
    padding-bottom: 4%;
    width: 100%;
    max-width: 124px;
}
  /*footer2*/

.footer__wrapper2 {
    widows: 100%;
    background-color: #111111;
}
.footer__inner2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    color: #c5c5c5;
}
.footer__inner2__contant__p{
    font-size: 14   px;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: left;
    color: #555;
}
.footer__inner2__gray-p{
    color: #959595;

}
.footer__inner2__brown-p{
    color: #c7b299;
}