.fourth_screen__wrapper{
    width: 100%;
    background: linear-gradient(to right, #211b19, #4e3427);

}
.fourth_screen__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.fourth_screen__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fourth_screen__h2-color{
    color: rgb(199, 178, 153);
}
.fourth_screen__inner__h2{
    padding-bottom: 1%;
    font-size: 28px;
    font-family: "Raleway";
    font-weight: 400;
    color:#fff;
    line-height: 1.2;
}
.fourth_screen__inner__p{
    font-size: 17px;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: center;
    color: #7d6b67;
}
.fourth_screen__button__a{
    padding: 17px;
    padding-left: 27px;
    padding-right: 27px;
    font-size: 14px;
    font-family: "Raleway";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.643;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    background-color: #998675;
    box-shadow: 0 -3px #736357 inset;    
    color: #ffffff;   
}
.fourth_screen__button__a:hover{
    background-color: #736357;
    box-shadow: 0 -3px #5e4f43 inset;
}

/*mobile*/

@media (max-width: 1023px) {
    .fourth_screen__inner{
        min-height: 40vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fourth_screen__button{
        padding-top: 30px;
    }
  }
  