.header{
    position: absolute;
    width: 100%;
    top: 40px;    
    z-index: 50;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__inner__logo{
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    color: #ffffff;   
}
.header__inner__logo-img{
    width: 64px;
}

/* navigation */
.header__inner__nav{
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    padding-left: 5vw;
    font-weight: 500;
    font-size: 14px;
}
.header__inner__nav__link{    
    vertical-align: top;
    padding-left: 2vw;
    text-decoration: none;
    color: #ffffff;
}
.header__inner__nav__link:hover{
    color: #c7b299;
    transition: color 0.3s linear;

}
.header__nav__icons__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1vw;
}
.header__inner__nav__link-icons{
    text-decoration: none;
    color: #ffffff;    
}
.header__inner__nav__link-icons:hover{
    color: #c7b299;
    transition: color 0.2s linear;
}
.header__nav__icons-svg{
    padding-left: 30px;
    height: 24px;  
}
.nav__burger{
    display: none;
}
.nav__burger-img{
    width: 30px;
}
.nav__icon__hide{
    display: none;
}
/*mobile*/

@media (max-width: 1023px) {
    .header__inner__logo{
        order: 1;
        font-size: 0px;
    }
    .header__inner__nav{
        display: none;
    }
    .nav__burger{
        display: block;
    }
    .header__nav__icons__wrapper{
        display: none;
    }
    .nav__icon__hide{
        display: block;
        order: 2;
    }
  }