.ninth_screen__wrapper{
    width: 100%;
}
.ninth_screen__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ninth_screen__report{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    width: 100%;
}
.ninth_screen__report__form{
    display: flex;
    flex-direction: column;
    position: relative;

    max-width: 29vw;
    margin: 30px 0;
}
.report__form-img{
    display: block;
    width: 100%;
}
.ninth_screen__readmo__a{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
    padding: 20px 2px;
    color: #c7b299;
}
.ninth_screen__arrow__right{
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #c7b299;
    margin-top: -2px;
    margin-left: 10px;
}

/*data blok*/

.report__form__data{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 3px;
    background-color: #363636;
    color: #fff;
}
.report__form__data__h1{
    margin: 0;
    padding: 5px 15px 0;
    font-size: 24px;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: center;
}
.form__data__month{
    width: 100%;
    background-color: #252525;
}
.form__data__month__p{
    margin: 0;
    padding: 5px 0;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    text-align: center;
}

/*data blok hover*/
.data__hover{
    background-color: #c7b299;
}
.month__hover{
    background-color: #a48d72;
}
.text__hover{
    background-color: #362f2d;
}
.h2__hover{
    color: #fff;
}
.ninth_screen__arrowsLR{
    display: flex;
    justify-content: center;
    width: 100;
    padding: 2% 0 7%;
}
.ninth_screen__arrowsLR-png{
    width: 52px;
}

/*mobile*/
@media (max-width: 1023px) {
    .ninth_screen__report{
        justify-content: center;
    }
    .ninth_screen__report__form{
        max-width: 90%;
    }
  }