.second_screen__wrapper{
    width: 100%;
}
.second_screen__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
}    
.second_screen__option{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
}
.second_screen__option__h2{
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: bold;
    color: #555;
}
.second_screen__option__p{
    padding-top: 10px;
    font-size: 12px;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: center;
    color: #555;
}
.second_screen__option-svg{
    height: 42px;
}
.second_screen__option__line{
    margin-top: 15px;
    width: 85px;
    height: 3px;
    background-color: #f1eee9;   
}
.second_screen__option__line-color{
    margin-top: 15px;
    width: 85px;
    height: 3px;
    background-color: #c7b299;   
}

/*mobile*/

@media (max-width: 1023px) {
    .second_screen__inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .second_screen__option{
        padding: 10px 0;
    }
  }