.seventh_screen__wrapper{
    width: 100%;
}
.seventh_screen__inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.seventh_screen__inner__img{
    display: flex;
    align-items: flex-end;
    padding-top: 80px;
    padding-left: 47px;
}
.seventh_screen__inner__img-png{
    width: 100%;
    max-width: 37vw;
}
.seventh_screen__inner__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 40vw;
}
.seventh_screen__h1{
    font-size: 36px;
    font-family: "Raleway";
    font-weight: 500;
    color: rgb(85, 85, 85);
    line-height: 1.2;
}
.seventh_screen__p{
    font-size: 1em;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: left;
    color: #555;
}
.seventh_screen__ul{
    padding-top: 40px;
    padding-left: 50px;
    list-style-image: url(../img/li.svg);
    list-style-position: outside;
}
.seventh_screen__ul__li{
    list-style-type: none;
    font-size: 1em;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: left;
    color: #555;
}

/*mobile*/
@media (max-width: 650px) {
    .seventh_screen__inner__img{
        display: none;
    }
    .seventh_screen__inner__text{
        max-width: 95%;
        padding-bottom: 50px;
    }
  }

