.sixth_screen__wrapper{
    width: 100%;
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;  
    background-size: cover;
}
.sixth_screen__inner{
    display: flex;
    justify-content: center;
}
.sixth_screen__inner__cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 210px;
    padding-bottom: 210px;
    max-width: 560px;
}
.sixth_screen__inner__h1{
    font-size: 36px;
    font-family: "Raleway";
    font-weight: 500;
    color: #fff;
    line-height: 1.2;
}
.sixth_screen__inner__p{
    font-size: 16px;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: center;
    color: #fff;
}
.sixth_screen__inner__p-time{
    font-size: 14px;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: center;
    margin: .67em 0;
    color: #c7b299;
}
