@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Raleway:400,500,800|Roboto:400,700&display=swap&subset=cyrillic-ext');
* {
	margin: 0;
	padding: 0;
}
html,
.body {
    width: 100%;
    height: 100%;  
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
p{
  font-size: 16px;
  font-family: "Montserrat";
  line-height: 1.5;
  text-align: center;
  color: #fff;
}
.main-wrapper{
    display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main-content{
  flex: 1 0 auto;
  height: 100%;
}
.container{
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .container:before,
  .container:after {
    display: table;
    content: " ";
  }
  
  /* Mobile */
  @media (max-width: 449px) {
    .container {
      width: 100%;
    }
  }
  
  @media (min-width: 450px) {
    .container {
      width: 420px;
    }
  }
  
  @media (min-width: 650px) {
    .container {
      width: 620px;
    }
  }
  
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  /* Pad */
  @media (min-width: 1024px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .footer{
    flex: 0 0 auto;
  }