.tenth_screen__wrapper{
    width: 100%;
    background-image: url(../img/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tenth_screen__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.tenth_screen__inner__img{
    width: 100%;
    max-width: 210px;
    min-width: 50px;
    padding: 3%;
    padding-top: 10%;
    padding-bottom: 10%;
}
