.third_screen__wrapper{
    width: 100%;
    max-height: 70%;
    background-color: #fbfaf8;
    background-image: url(../img/backgrounds.png) ;
    background-size: 1230px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;    
}
.third_screen__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
}
.third_screen_content_width{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}
.third_screen__inner__h1{
    font-size: 36px;
    font-family: "Raleway";
    font-weight: 500;
    color: rgb(85, 85, 85);
    line-height: 1.2;
}
.third_screen__inner__p{
    font-size: 16px;
    font-family: "Montserrat";
    line-height: 1.5;
    text-align: center;
    color: #555;
}

/*hide block*/
.third_screen_content_hidecontant{
    height: 80vh;
    max-height: 520px;
   
}


  @media (max-width: 1023px) {
    .third_screen_content_width{
        padding-bottom: 50px;
    }
  }